version: 2.1
orbs:
  sonarcloud: sonarsource/sonarcloud@3.0.0
jobs:
  build:
    docker:
      - image: 'cimg/openjdk:17.0'
    steps:
      - checkout
      - run:
          name: Analyze on SonarQube Cloud
          command: gradle clean build
      - sonarcloud/scan
workflows:
  my-workflow:
    jobs:
      - build:
          context: sonarcloud
